## BACKEND
backend/__pycache__/
backend/*.py[cod]

backend/.env
backend/.venv
backend/env/
backend/venv/
backend/ENV/
backend/env.bak/
backend/venv.bak/

backend/*.db
backend/test_db.db
backend/db.sqlite3

backend/build/
backend/dist/
backend/*.egg-info/
backend/.eggs/
backend/*.egg

backend/.coverage
backend/.coverage.*
backend/.cache
backend/nosetests.xml
backend/coverage.xml
backend/*.cover
backend/htmlcov/
backend/.tox/
backend/.pytest_cache/
backend/.hypothesis/

backend/*.log

backend/.idea/
backend/.vscode/
backend/.spyderproject
backend/.spyproject
backend/.ropeproject

backend/.ipynb_checkpoints

backend/docs/_build/

backend/*.pot
backend/*.mo

backend/*.spec

## FRONTEND

frontend/node_modules/
frontend/.env
frontend/.env.* # For multiple environment files like .env.production, .env.local, etc.
frontend/dist/
frontend/.vite/
frontend/.cache/
frontend/coverage/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/.eslintcache
frontend/.tsbuildinfo

# Editor directories and files
frontend/.idea/
frontend/.vscode/
frontend/*.sublime-workspace
frontend/*.sublime-project

# Mac system files
frontend/.DS_Store

# Optional: OS-specific or tool-specific files
frontend/.parcel-cache/
frontend/.next/
frontend/out/
frontend/.turbo/

#SECRETS
*.pem
